
body {
  font-size: 14px;
  background-color: black;
  border: 1px solid white;
  padding-top: 70px;
  margin: 0 auto;
}

h1,
h3 {
  color: white;
   text-align: center;
}

h3 {
  font-style: none;
}

article {
  border: 1px solid red;
  padding: 1rem;
}

.nav {
    text-align: ;
    color: white;
    font-size: 20px;
    position: fixed;
    display: inline-block;
}


.modal-body {
  width: 100%;
  height: 97%;
  padding: 0;
  border-color: black;
}

.modal {
  height: 100%;
  border: none;
}

.modal-header {
  color: white;
}

videoButton {

}


videoButton:hover {
    cursor: pointer;
    transform: translate3d($moveRight, 0, 0)
}



.videoRow {
  display: inline-table;
}

.videoRow.slide img {
    width:100%;
    height:auto;
}

.navbar {
  background: rgba(29,29,29,0.95);
  display: inline;
}

.navbar-header{
  display: inline;
}

.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}






