body {
  font-size: 14px;
}

h1,
h3 {
  color: dodgerblue;
   text-align: center;
}

h3 {
  font-style: italic;
}

article {
  border: 1px solid red;
  padding: 1rem;
}

nav {
    text-align: center;
    color: blue;
    font-size: 20px;
}
